<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <dllmap os="osx" dll="libphysfs" target="libphysfs.dylib" />
    <dllmap os="windows" wordsize="64" dll="libphysfs" target="libphysfs.x64.dll" />
    <dllmap os="windows" wordsize="32" dll="libphysfs" target="libphysfs.x86.dll" />
    <dllmap os="linux" dll="libphysfs" target="libphysfs.so" />
</configuration>